body{background: url('https://s.smore.com/fr/books.18ceefdb.jpg');}
 html {
    height: 100%;
    }
     body{
    background-image: url("https://s.smore.com/fr/books.18ceefdb.jpg");
    height: 100vh;
    background-size: cover;
    border: 2px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bg {
       background: url("https://s.smore.com/fr/books.18ceefdb.jpg");
    }
    